@import "./Colors.css";
@import "./Text.css";

:root {
  --safe-area-inset-top: 0px;
  --safe-area-inset-right: 0px;
  --safe-area-inset-left: 0px;

  @supports (top: constant(safe-area-inset-top)) {
    --safe-area-inset-top: constant(safe-area-inset-top);
    --safe-area-inset-right: constant(safe-area-inset-right);
    --safe-area-inset-left: constant(safe-area-inset-left);
  }

  @supports (top: env(safe-area-inset-top)) {
    --safe-area-inset-top: env(safe-area-inset-top);
    --safe-area-inset-right: env(safe-area-inset-right);
    --safe-area-inset-left: env(safe-area-inset-left);
  }

  background-color: var(--background);
  scrollbar-color: var(--block-foreground) var(--block-background);
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  box-sizing: content-box;

  max-width: 80ch;

  margin: 0 auto;
  padding-left: max(16px, var(--safe-area-inset-left));
  padding-right: max(16px, var(--safe-area-inset-right));
}

header {
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: calc(3em + var(--safe-area-inset-top)) 0 1.5em 0;
}

footer {
  height: 80vh;
  margin-block-start: 1.5em;
}

blg-previous-article {
  display: flex;
  justify-content: start;
  text-align: start;
}

blg-next-article {
  display: flex;
  justify-content: end;
  text-align: end;
}
