@import "./BasePageStyle.css";

ul.article-list {
  list-style-type: none;
  padding: 0;
}

ul.article-list>li {
  margin-block: 0 1.5em;
}

.wfsth {
  animation: fly-in;
  animation-delay: 30s;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.41, 0.52, 0, 0.94);
  visibility: hidden;
  text-align: center;
}

@keyframes fly-in {
  0% {
    opacity: 0;
    transform: translateY(16px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}
