@import "./Colors.css";

/**
 * This allows the site to follow the system text size on Apple devices. See:
 * https://adrianroselli.com/2026/02/honoring-mobile-os-text-size.html
 */
@supports (font: -apple-system-body) and (not (-webkit-touch-callout: default)) {
  :root {
    font-size: 100%;
  }
}

:root {
  overflow-wrap: break-word;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

::selection {
  background-color: var(--selection-background);
  color: var(--selection-foreground);
}

body {
  color: var(--foreground);

  font: -apple-system-body;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.429;
}

/* Paragraphs */
p {
  margin-block: 0 1.5em;
}

.semi-bold {
  font-weight: 600;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  line-height: 1.286;
}

h2 {
  font-size: 1.429rem;
  line-height: 1.4;
}

h3 {
  font-size: 1.286rem;
  line-height: 1.333;
}

h4,
h5,
h6 {
  font-size: 1rem;
  line-height: 1.429;
}

/* Links */
a {
  text-decoration-skip-ink: auto;
}

a:link {
  color: var(--accent);
}

a:visited {
  color: var(--accent);
}

a[aria-current="page"] {
  font-weight: bold;
  color: var(--foreground);
  text-decoration: none;
}

/* Secondary text */
caption,
figcaption,
small {
  font-size: 0.875rem;
  line-height: 1.167;
}

/* Blocks */
blockquote,
pre {
  background-color: var(--block-background);
  color: var(--block-foreground);
}

/* Code */
pre {
  border-top: 4px solid var(--accent);
  font-family: monospace, monospace;
  font-size: 1em;
  margin-block: 0 1.5em;
  padding: 8px;

  overflow-x: auto;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Quotes */
blockquote {
  border-left: 6px solid var(--accent);

  margin-inline: 0;
  margin-block: 0 1.5em;
  padding: 16px;
}

blockquote>p:last-child {
  margin-block-end: 0;
}

/* Dividers */
hr {
  color: var(--divider);
}

hr[vertical] {
  height: 100%;
  margin: 0 auto;
  border-width: 0 0 0 1px;
}

/* Forced color overrides */
@media (forced-colors: active) {

  blockquote,
  pre {
    border-color: var(--divider);
  }

  pre {
    border-width: 4px 1px 1px 1px;
    border-style: solid;
  }
}
