<!DOCTYPE html>
<html attr.lang="{Binding language}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="text-scale" content="scale">
  <meta charset="utf-8">

  <title content="{Binding pageTitle}"></title>

  <link attr.href="{StaticResource HomePageStyle}" rel="stylesheet">
  <link rel="icon" attr.href="{StaticResource FaviconIco}" sizes="32x32">
  <link rel="icon" attr.href="{StaticResource FaviconSvg}" type="image/svg+xml">
  <link rel="apple-touch-icon" attr.href="{StaticResource FaviconAppleTouch}">
</head>

<body>
  <main>
    <blg-article>
      <template slot="header-template">
        <header>
          <h1 content="{Binding title}"></h1>
          <p>by yourordinarycat</p>
        </header>
      </template>
    </blg-article>

    <blg-article-list>
      <template>
        <h3>
          <a attr.href="{Binding url}" content="{Binding title}"></a>
        </h3>
        <span>
          <time attr.datetime="{Binding publishDate}" content="{Binding publishDisplayDate}"></time>
          -
          <span content="{Binding author}"></span>
        </span>
      </template>
    </blg-article-list>

    <hr>
  </main>

  <footer>
    <p class="wfsth">Waiting for something to happen?</p>
  </footer>
</body>

</html>
