<!DOCTYPE html>
<html attr.lang="{Binding language}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title innerText="{Binding title}"></title>

  <link attr.href="{StaticResource HomePageStyle}" rel="stylesheet">
  <link rel="icon" attr.href="{StaticResource FaviconIco}" sizes="32x32">
  <link rel="icon" attr.href="{StaticResource FaviconSvg}" type="image/svg+xml">
  <link rel="apple-touch-icon" attr.href="{StaticResource FaviconAppleTouch}">
</head>

<body>
  <main>
    <blg-article></blg-article>

    <hr>
  </main>

  <footer>
    <small class="secondary wfsth" text-centeralign>Waiting for something to happen?</small>
  </footer>
</body>

</html>