<!DOCTYPE html>
<html attr.lang="{Binding language}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="text-scale" content="scale">
  <meta charset="utf-8">

  <title content="{Binding pageTitle}"></title>
  <meta name="author" attr.content="{Binding author}">

  <link attr.href="{StaticResource BasePageStyle}" rel="stylesheet">
  <link rel="icon" attr.href="{StaticResource FaviconIco}" sizes="32x32">
  <link rel="icon" attr.href="{StaticResource FaviconSvg}" type="image/svg+xml">
  <link rel="apple-touch-icon" attr.href="{StaticResource FaviconAppleTouch}">
</head>

<body>
  <main>
    <blg-article>
      <template slot="header-template">
        <header>
          <h1 content="{Binding title}"></h1>
          <p>
            <time attr.datetime="{Binding publishDate}" content="{Binding publishDisplayDate}">
            </time>
            -
            <span content="{Binding author}"></span>
            -
            <a attr.href="{Destination index}">☆ dreamscape ☆</a>
          </p>
        </header>
      </template>
    </blg-article>

    <hr>
  </main>

  <footer>
    <blg-previous-article>
      <template>
        <a attr.href="{Binding url}" attr.title="{Binding title}">
          <span class="semi-bold">previous post</span>
          <p content="{Binding title}"></p>
        </a>
      </template>
    </blg-previous-article>

    <blg-next-article>
      <template>
        <a attr.href="{Binding url}" attr.title="{Binding title}">
          <span class="semi-bold">next post</span>
          <p content="{Binding title}"></p>
        </a>
      </template>
    </blg-next-article>
  </footer>
</body>

</html>
