<!DOCTYPE html>
<html attr.lang="{Binding language}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title innerText="{Binding title}"></title>
  <meta name="author" attr.content="{Binding author}">
  <link attr.href="{StaticResource BasePageStyle}" rel="stylesheet">
</head>

<body>
  <main>
    <blg-article>
      <header>
        <h1 innerText="{Binding title}"></h1>
        <p>
          <time attr.datetime="{Binding publishDate}" innerText="{Binding publishDisplayDate}">
          </time>
          -
          <span innerText="{Binding author}"></span>
          -
          <a attr.href="{Destination HomePage}">☆ dreamscape ☆</a>
        </p>
      </header>
    </blg-article>

    <hr>
  </main>

  <footer>
    <blg-previous-post>
      <a attr.href="{Binding url}" attr.title="{Binding title}">
        <small>previous post</small>
        <p innerText="{Binding title}"></p>
      </a>
    </blg-previous-post>

    <blg-next-post>
      <a attr.href="{Binding url}" attr.title="{Binding title}">
        <small>next post</small>
        <p innerText="{Binding title}"></p>
      </a>
    </blg-next-post>
  </footer>
</body>

</html>